/* Add your styles based on your design */

body{
  background-color: #333;
}
nav {
  background-color: #333;
  color: white;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 1.5em;
}

.search-form {
  display: flex;
}

input {
  padding: 5px;
  margin-right: 5px;
}

button {
  padding: 5px 10px;
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  color: #e96262;
   
}
.link1{
  color: #ccc;
}
.link2{
  color: #ccc;
  margin-left: 20px;
}




.nav-links li {
  margin-right: 10px;
  cursor: pointer;
  background-color: #e42e2e;
  
}

/* Add your styles based on your design */
.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.my-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input,
select {
  padding: 8px;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}
/* Card.css */

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #e96262;
}

p {
  color: #f0eded;
}
.link{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

