/* Add your styles based on your design */

body{
  background-color: #333;
}
nav {
  background-color: #333;
  color: white;
}
.age{
  margin-left: 11px;
}
/* YourComponent.css */

/* Add the animation rule */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Apply the animation to the logo */
.spin-animation {
  /* Set the logo's width and height as needed */
  width: 100px;
  height: 100px;

  /* Apply the animation with infinite loop and smooth transition */
  animation: spin 2s infinite linear;
  transition: transform 0.5s ease-in-out;
}

/* Pause the animation on hover */
.spin-animation:hover {
  animation-play-state: paused;
}


.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 1.5em;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

input {
  padding: 5px;
  margin-right: 10px;
  margin-left: 20px;
}
img{
  width: 100px;
  height: 80px;
}

button {
  padding: 5px 10px;
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  color: #e96262;
   
}
.link1{
  color: #ccc;
}
.link2{
  color: #ccc;
  margin-left: 20px;
}




.nav-links li {
  margin-right: 10px;
  cursor: pointer;
  background-color: #e42e2e;
  
}

/* Add your styles based on your design */
.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.my-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  color: #ddd;
}

input,
select {
  padding: 8px;
  margin-bottom: 10px;
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}
/* Card.css */

.card {
  border: 1px solid #ccc;
  background: rgb(49,50,54);
background: linear-gradient(90deg, rgba(49,50,54,0.7064950980392157) 15%, rgba(108,150,167,0.6308648459383753) 83%, rgba(6,102,141,1) 100%);
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #e96262;
}

p {
  color: #f0eded;
}
.link{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

 /* css for custom PopUp */
 .popBack {
  position: fixed;
  background-color: rgb(0, 0, 0);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  opacity: 0.9;
}

.container{
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 0px #ffffff;
  padding: 14px;
  border-radius: 10px;
  height: 300px;
  width: 300px;
  text-align: center;
  
}
.btn{
  background-color: #201d1d;
  width: 50px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}
/* btn css */

button {
  background-color: #201d1d;
  /* background: transparent; */
  position: relative;
  padding: 5px 15px;
  margin-left: 90px;
  width: 200px;
  display: flex;
  justify-content: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(40, 144, 241);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(40, 144, 241);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

button span {
  margin: 10px;
}

button::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

button:hover {
  color: #fff;
  border: 1px solid rgb(13, 129, 237);
}

button:hover::before {
  box-shadow: inset 0 0 0 10em rgb(40, 144, 241);
}

.head{
  background: rgb(89,102,155);
background: linear-gradient(90deg, rgba(89,102,155,1) 0%, rgba(108,139,167,0.9698004201680672) 44%, rgba(21,144,145,1) 92%, rgba(6,102,141,1) 100%);
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 20px ;
  border: 2px solid black;
}
.title{
  color: white;
  font-size: x-large;
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
